<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Linq.Properties.Settings.BookStoreConnectionString"
            connectionString="Data Source=.;Initial Catalog=BookStore;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="csvInFile" value="C:\Projects\linq\linq\students.csv"/>
    <add key="csvOutFile" value="C:\Projects\linq\linq\sortedStudents.csv"/>
  </appSettings>
</configuration>